section.claim-section
			.container
				.claim
					.claim__wrapper
						.claim__tokens
							h1.claim__title Claim your very own comb
								h2.claim__subtitle Stake Uniswap LP Tokens
								.claim__row
									.claim__row-item.token
										.token__img-wrapper
											img(
												src="images/tokens_logo.png"
												width="32"
												height="32"
											).token__logo
										h3.token__title Your Balance
										p.token__value 0.00 COMB
										p.token__supply Unclaimed: 0.000
											span COMB
										.token__rate-wrapper
											span.token__rate ≈ 0.00 Ξ
											span.token__rate ≈ $0
										.token__btn-wrapper
											a(href="3").btn.btn_primary.token__btn Earn

									.claim__row-item.token
										.token__img-wrapper
											img(
												src="images/tokens_logo.png"
												width="32"
												height="32"
											).token__logo
										h3.token__title COMB Price
										p.token__value 0.19 Ξ
										p.token__supply LP: 406.97Ξ / 2,127.65
											span COMB
										.token__rate-wrapper
											span.token__rate ≈ $88.16
											span.token__rate ≈ $0
										.token__btn-wrapper
											a(href="3").btn.btn_primary.token__btn Buy
											a(href="3").btn.btn_secondary.token__btn Analytics

									.claim__row-item
										.token.token_small
											h3.token__title Total Circulating Supply
											p.token__value 4,327 COMB
											.token__rate-wrapper
												span.token__rate ≈ 827.59 Ξ
												span.token__rate ≈ $381,422.06
											p.token__emission Current emission rate ~39 COMB/day
										.token.token_small
											h3.token__title Total Locked Value
											p.token__value 2,058.06 Ξ
											.token__rate-wrapper
												span.token__rate ≈ $948,523.82
											p.token__emission Locked
						.claim__pools
							.claim__title-wrapper
								h2.claim__subtitle TOP POOLS
								a(href="#").link.claim__link View All
							.claim__row
								.claim__row-item
									.pool
										.pool__discount 70 %
										.pool__info-wrapper
											.pool__value ≈27.3 COMB/day
											.pool__logo-wrapper
												img(
													src='images/pools_comb.svg'
													width="64"
													height="64"
													alt=''
												).pool__logo
											h3.pool__title COMB Stake!
											p.pool__info Deposit COMB-ETH UNI-V2 LP   Earn COMB
										.pool__divider
										.pool__text-wrapper.pool__text-wrapper_apy
											span APY
											span 299.931%
										.pool__total-wrapper
											h4.pool__subtitle Total Staked
											.pool__text-wrapper
												span Comb
												span 1,635.57
											.pool__text-wrapper
												span Eth
												span 312.85
										.pool__btn-wrapper
											a(href="3").btn.btn_primary.pool__btn.pool__btn_primary Select
											a(href="3").btn.btn_secondary.pool__btn.pool__btn_secondary Get LP
								.claim__row-item
									.pool
										.pool__discount 70 %
										.pool__info-wrapper
											.pool__value ≈4.68 COMB/day
											.pool__logo-wrapper
												img(
													src='images/pools_def.svg'
													width="64"
													height="64"
													alt=''
												).pool__logo
											h3.pool__title DEF Stake!
											p.pool__info Deposit DEF-COMB UNI-V2 LP   Earn COMB
										.pool__divider
										.pool__text-wrapper.pool__text-wrapper_apy
											span APY
											span 2,187.606%
										.pool__total-wrapper
											h4.pool__subtitle Total Staked
											.pool__text-wrapper
												span DEF
												span 1,635.57
											.pool__text-wrapper
												span Eth
												span 312.85
										.pool__btn-wrapper
											a(href="3").btn.btn_primary.pool__btn.pool__btn_primary Select
											a(href="3").btn.btn_secondary.pool__btn.pool__btn_secondary Get LP
								.claim__row-item
									.pool
										.pool__discount 70 %
										.pool__info-wrapper
											.pool__value ≈27.3 COMB/day
											.pool__logo-wrapper
												img(
													src='images/pools_comp.svg'
													width="64"
													height="64"
													alt=''
												).pool__logo
											h3.pool__title COMP Stake!
											p.pool__info Deposit COMP-ETH UNI-V2 LP   Earn COMB
										.pool__divider
										.pool__text-wrapper.pool__text-wrapper_apy
											span APY
											span 299.931%
										.pool__total-wrapper
											h4.pool__subtitle Total Staked
											.pool__text-wrapper
												span Comb
												span 1,635.57
											.pool__text-wrapper
												span Eth
												span 312.85
										.pool__btn-wrapper
											a(href="3").btn.btn_primary.pool__btn.pool__btn_primary Select
											a(href="3").btn.btn_secondary.pool__btn.pool__btn_secondary Get LP

					.claim__links
						
